html{
    width: 100%;
    background: hsla(0, 0%, 100%, 1);

background: linear-gradient(135deg, hsla(0, 0%, 100%, 1) 12%, hsla(196, 100%, 87%, 0.1) 52%, hsla(0, 0%, 100%, 1) 77%, hsla(0, 0%, 100%, 1) 100%);

background: -moz-linear-gradient(135deg, hsla(0, 0%, 100%, 1) 12%, hsla(196, 100%, 87%, 0.1) 52%, hsla(0, 0%, 100%, 1) 77%, hsla(0, 0%, 100%, 1) 100%);

background: -webkit-linear-gradient(135deg, hsla(0, 0%, 100%, 1) 12%, hsla(196, 100%, 87%, 0.1) 52%, hsla(0, 0%, 100%, 1) 77%, hsla(0, 0%, 100%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ffffff", endColorstr="#BEEEFF", GradientType=1 );
}
.ctnOutSide{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.edit{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1%;
    font-family: Neucha, sans-serif;
}
.previewCtn{
    margin-top: 5%;
    width: 50%;
    margin-right: 5%;
}
.preview{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2%;
    height: 298mm;
    border-bottom-left-radius: 5px 200px;
  border-bottom-right-radius: 225px 10px;
  border-top-left-radius: 255px 5px;
  border-top-right-radius: 5px 200px;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    line-height: 26px;
    margin-bottom: 10px;
}
  
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: auto;
    margin-right: 40%;
    padding: 0.4%;
    border: 1px solid black;
    border-radius: 2% 10%;
}

.personalInfoPreview{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftSide{
    margin-right: auto;
    width: 150px;
}
.rightSide{
    margin-left: auto;
    width: 150px;
}
.rightSide p:nth-child(2){
    margin-top: -11%;
}
.titleSection{
    margin-bottom: 0;
}
.lineBreaker{
    margin-top: -1%;
}
.experienceSection .educationSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.topSide p {
    font-weight: bold;
}
.botSide{
    margin-right: auto;
}
.previewButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.previewButtons button{
    margin: 2%;
}
.pdfButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.pdfButton button{
    margin-left: 2%;
}
#name{
    font-weight: bold;
    font-size: 25px;
}


button {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, ) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 15px;
  line-height: 23px;
  outline: none;
  padding: .45rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

button {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.footer p {
    font-size: 17px;
}
.footer a{
    color: black;
    text-decoration: none;
}
.footer a:hover{
    color: red
}