.ctnOutSide{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  
}
.edit{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 1%;
}
.previewCtn{
    margin-top: 5%;
    width: 50%;
    margin-right: 5%;
}
.preview{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2%;
    height: fit-content;
}
label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    line-height: 26px;
    margin-bottom: 10px;
}
  
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: auto;
    margin-right: 40%;
}

.personalInfoPreview{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftSide{
    margin-right: auto;
    max-width: 150px;
}
.rightSide{
    margin-left: auto;
}
.titleSection{
    margin-bottom: 0;
}
.lineBreaker{
    margin-top: -1%;
}
.experienceSection .educationSection{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
.topSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.botSide{
    margin-right: auto;
}
.previewButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.previewButtons button{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}